@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap");

/*Some CSS Parameters*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  color: black;
  background-color: white;
  font-family: "Raleway", sans-serif;
}
header ul {
  list-style-type: none;
  background-color: #333;
}
header ul li {
  display: inline;
  text-decoration: none;

  float: left;
  text-align: center;
  align-items: center;
  margin-right: 30px;
  margin-top: 20px;
}
header ul li:last-child {
  margin-left: 35%;
}

header ul li a {
  cursor: pointer;
}
